<ion-grid>
  <ion-row>
    <ion-col class="top-left">
      <img src="../../../../../assets/liveMatchIcons/handball/2min.png">
      <h5>{{stats.twoMinutes}}</h5>
    </ion-col>
    <ion-col class="top-right" style="margin-left : -1px;">
      <img src="../../../../../assets/liveMatchIcons/handball/7m.png">
      <h5>{{stats.sevenMeters}}</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="margin-top : -1px;">
      <img src="../../../../../assets/liveMatchIcons/handball/lostBall.png">
      <h5>{{stats.lostBalls}}</h5>
    </ion-col>
    <ion-col style="margin-left : -1px; margin-top: -1px;">
      <img src="../../../../../assets/liveMatchIcons/handball/stoppedGoal.png">
      <h5>{{stats.stops}}</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="bottom-left" style="border-top:0px;" >
      <img src="../../../../../assets/liveMatchIcons/handball/myTeamGoal.png" style="max-width: 25%;">
      <h5>{{stats.goalsScored}}</h5>
    </ion-col>
  </ion-row>
</ion-grid>