<div cards>
  <div class="grid-full">
    <ion-row>
      <ion-col class="top-left">
        <ion-card>
          <img src="../../../../../assets/liveMatchIcons/handball/2min.png">
          <h5>{{stats.twoMinutes}}</h5>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../../../../assets/liveMatchIcons/handball/7m.png">
          <h5>{{stats.sevenMeters}}</h5>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-card>
          <img src="../../../../../assets/liveMatchIcons/handball/lostBall.png">
          <h5>{{stats.lostBalls}}</h5>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card>
          <img src="../../../../../assets/liveMatchIcons/handball/stoppedGoal.png">
          <h5>{{stats.stops}}</h5>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="flex: 0 0 100%; max-width: 100%;">
        <ion-card>
          <img src="../../../../../assets/liveMatchIcons/handball/myTeamGoal.png" style="max-width: 25%;">
          <h5>{{stats.goalsScored}}</h5>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</div>