/* ------------------------------
              HEADER
   ------------------------------ */
/* ------------------------------
          CONTENT
------------------------------ */
.file{
    border-bottom: solid lightgrey 0.1rem;
    padding: 0.5rem;
    text-align: center;

    ion-item{
        --background: lightgrey;
        border-radius: 0.5rem;
        border: solid black 0.1rem;
        cursor: pointer;
        margin: 1rem;

        ion-label{
            margin-left: 1rem;
        }
    }
}

.filePlayer{
    padding: 2rem;
    margin: 1rem 2rem;
    text-align: center;
    background: lightgrey;
    border-radius: 0.5rem;
    border: solid black 0.1rem;
    cursor: pointer;
    padding: 1rem 0.5rem;
    text-align: center;
    ion-label{
        font-weight: bold;
    }
    ion-img{
        height: 75px;
        margin-top: 1rem;
        margin-bottom: 1rem
    }
}

.title{
    border-bottom: solid black 1px;
}

ion-button{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem
}

ion-textarea{
    border: solid lightgrey 1px;
    font-size: small;
    padding-left: 0.5rem;
}

.danger{
    color: var(--ion-color-danger);
}

ng-container > div{
    background-color: lightgrey;
    border-radius: 5px;
}
/* ------------------------------
          FOOTER
------------------------------ */