<ion-header>
  <ion-toolbar>
    <ion-title>Team List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let team of teamList" (click)="goToHomePage(team)">
        <ion-avatar slot="start">
          <ion-img src="../../../assets/sports/{{ team.sport }}.png"></ion-img>
        </ion-avatar>
        <ion-label>{{team.teamName}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary">
    <ion-fab-button (click)="goToaddTeam()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
