<ion-header>
  <ion-toolbar>
    <ion-title>Team List</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="../add-team">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let team of teamList" (click)="goToHomePage(team)">
        <ion-avatar slot="start">
          <ion-img src="../../../assets/sports/{{ team.sport }}.png"></ion-img>
        </ion-avatar>
        <ion-label>{{team.teamName}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
