<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489608967542-jl99l1p7jub7k7uo6of0ngtdmn34lqct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489608967542-jl99l1p7jub7k7uo6of0ngtdmn34lqct</string>
	<key>API_KEY</key>
	<string>AIzaSyA0BMAeT3h7jiWkgnLcmK8LCVIIlXEyUPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>489608967542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tmup-908e4</string>
	<key>PROJECT_ID</key>
	<string>tmup-908e4</string>
	<key>STORAGE_BUCKET</key>
	<string>tmup-908e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489608967542:ios:9be9612251a509dcd23657</string>
	<key>DATABASE_URL</key>
	<string>https://tmup-908e4.firebaseio.com</string>
</dict>
</plist>