<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <ion-item (click)="selectedIndex = -10" routerLink="" routerDirection="root" lines="none" detail="false" [class.selected]="selectedIndex == -10">
              <ion-avatar slot="start">
                <ion-img src="../../../assets/sports/Football.png"></ion-img>
              </ion-avatar>
              <ion-label>Nombre Equipo</ion-label>
            </ion-item>
            <ion-menu-toggle auto-hide="false">
              <ion-item  (click)="selectedIndex = -11" routerLink='team-list' routerDirection="root" lines="none" detail="false" [class.selected]="selectedIndex == -11">
                <ion-icon slot="end" name="swap-horizontal" rouerLink='team-list'></ion-icon>
              </ion-item>
            </ion-menu-toggle>
          </ion-list-header>
          

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item  (click)="selectedIndex = -1" routerLink="settings" routerDirection="root" lines="none" detail="false" [class.selected]="selectedIndex == -1">
              <ion-icon slot="start" routerLink="settings" name="stopwatch"></ion-icon>
              <ion-label>Próximo partido</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

          <ion-list-header>
            <ion-menu-toggle auto-hide="false">
              <ion-item slot="end" id = "space" (click)="selectedIndex = -12" routerLink="profile" routerDirection="root" lines="none" detail="false" [class.selected]="selectedIndex == -12" >
                <ion-label>Perfil</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item  (click)="selectedIndex = -13" routerLink="settings" routerDirection="root" lines="none" detail="false" [class.selected]="selectedIndex == -13">
                <ion-icon slot="end" name="settings" routerLink="settings"></ion-icon>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item  (click)="selectedIndex = -14" routerLink="" routerDirection="root" lines="none" detail="false" [class.selected]="selectedIndex == -14">
                <ion-icon slot="end" name="log-out"></ion-icon>
              </ion-item>
            </ion-menu-toggle>
          </ion-list-header>    

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
