<ion-grid>
  <ion-row>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/basketball/1point.png" alt="1pointLocal">
    </ion-col>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/basketball/assists.png" alt="assist">
    </ion-col>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/basketball/opponentScored.png" alt="opponentScored" >
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/basketball/2points.png" alt="2pointsLocal" >
    </ion-col>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/basketball/3points.png" alt="3pointsLocal">
    </ion-col>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/basketball/rebound.png" alt="rebound">
    </ion-col>
  </ion-row>
</ion-grid>
