/* ------------------------------
              HEADER
   ------------------------------ */
ion-header{
    text-align: center;
}
ion-image{
    height: fit-content;
    width: fit-content;
}
/* ------------------------------
          CONTENT
------------------------------ */

/* ------------------------------
          FOOTER
------------------------------ */