<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendario</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="add-match" routerDirection="forward">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-toolbar class="headerCalendar">
      <ion-buttons slot="start">
        <ion-button (click)="previousMonth()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{currentMonth}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="nextMonth()">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ng-template #template let-view="view" let-row="row" let-col="col">
      <div *ngIf="view.dates[row*7+col].events == ''">{{view.dates[row*7+col].label}}</div>
    <div *ngFor="let obj of view.dates[row*7+col].events">
      <div *ngIf="obj.type === 'match'">
        <div [ngStyle]="matchStyle">{{view.dates[row*7+col].label}}</div>
      </div>
      <div *ngIf="obj.type === 'training'">
        <div [ngStyle]="trainingStyle">{{view.dates[row*7+col].label}}</div>
      </div>
    </div>
    </ng-template>

    <calendar class="calendar" 
      [monthviewDisplayEventTemplate]="template"
      [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      [startingDayMonth] = "calendar.startingDay"
      [markDisabled]="markDisabled"
      (onCurrentDateChanged)="onCurrentDateChanged($event)"
      (onRangeChanged)="onRangeChanged(startTime, endTime)"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      step="30">
        
    </calendar>
  </div>
</ion-content>
