<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "STATISTICS.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-segment value="self" [(ngModel)]="statisticsType">
    <ion-segment-button value="self">
      <ion-label>{{ "STATISTICS.selfStatistics" | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="team">
      <ion-label>{{ "STATISTICS.teamStatistics" | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<ion-content>
    <div *ngIf="statisticsType === 'self'">
      <ion-text color="primary" style="text-align: center;">
        <h3>{{userName}}</h3>
      </ion-text>

      <app-self-basketball *ngIf="sport === 'basketball'" [stats]="stats">
      </app-self-basketball>

      <app-self-handball *ngIf="sport === 'handball'" [stats]="stats">
      </app-self-handball>

      <app-self-football *ngIf="sport ==='football'" [stats]="stats">
      </app-self-football>
      
    </div>
  <div *ngIf="statisticsType === 'team'">
    <a>ETADISTIQUES D'EQUIP</a>
  </div>
</ion-content>
