/* ------------------------------
              HEADER
   ------------------------------ */

/* ------------------------------
          CONTENT
------------------------------ */
ion-thumbnail{
    cursor: pointer;
    margin-bottom: 0.5rem;
    min-width: 5rem;    
    min-height: 8rem;
    ion-img {   
        min-width: 5rem;
    }
}
/* ------------------------------
          FOOTER
------------------------------ */