/* ------------------------------
              HEADER
   ------------------------------ */

ion-content {
    text-align: center;
}

/* ------------------------------
              HEADER
   ------------------------------ */
ion-header {
    background: none;
}

ion-toolbar {
    --border-style: none;
}

.introHeader {
    margin: 0 auto;
    padding: 4em 1em 2em 1em;
}

/* ------------------------------
            MAIN CONTENT
   ------------------------------ */

.infoStarting {
    margin: 0 auto;
    padding: 0em 2em 2em;
}

.continueButton {
    padding: 0em 1em 0em 1em;
}

/* ------------------------------
              FOOTER
   ------------------------------ */