<ion-header>
  <ion-menu swipeGesture="false"></ion-menu>
</ion-header>

<ion-content class="gradientBG">
  <ion-card>
    <ion-card-header class="introHeader">
      <h2>¡Felicidades!</h2>
    </ion-card-header>
    <ion-card-content class="infoStarting">
      <p>¡Te acabas de crear una cuenta!</p>
      <p>Para disfrutar de las ventajas de tmUp, valida tu cuenta y</p>
      <p>crea o únete a un equipo</p>
    </ion-card-content>
   <ion-card-content class="continueButton">
     <ion-button expand="block" routerLink="add-team" routerDirection="forward">
       Continuar
     </ion-button>
   </ion-card-content>
  </ion-card>
</ion-content>
