<ion-header>
  <ion-toolbar >
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir equipo</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="create" [(ngModel)]="segmentModel">
      <ion-segment-button value="create">
        <ion-label>Crear equipo</ion-label>
      </ion-segment-button>
      <ion-segment-button value="join">
        <ion-label>Unirse a equipo</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="segmentModel === 'create'">
      <form [formGroup]="createTeamForm" (ngSubmit)="createTeam()">
        <ion-list>
          <ion-item class="avatarIcon" lines="none">
          <ion-avatar (click)="cameraOptions()">
            <img src="{{ myPhoto }}" onerror=" src='../../../assets/icon/avatar.svg'">
          </ion-avatar>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombre Equipo</ion-label>
          <ion-input type="text" formControlName="teamName"></ion-input>
        </ion-item>
        <div *ngFor="let err of errorMessages.teamName">
          <ng-container *ngIf="teamName.hasError(err.type) && teamName.touched">
            <small class="errorMessage">{{ err.message }}</small>
          </ng-container>
        </div>
        
        <ion-item>
          <ion-label>Deporte</ion-label>
          <ion-select interface="popover" formControlName="sport">
          <ion-select-option *ngFor="let s of sportsLists;" [value]="s">{{ s }}</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngFor="let err of errorMessages.sport">
          <ng-container *ngIf="sport.hasError(err.type) && sport.touched">
            <small class="errorMessage">{{ err.message }}</small>
          </ng-container>
        </div>

        <ion-button [disabled]="!createTeamForm.valid" class="endButton" type="submit" expand="block">
          Crear
        </ion-button>
        </ion-list>
      </form>
    </div>

    <div *ngIf="segmentModel === 'join'">
      <form [formGroup]="joinTeamForm" (ngSubmit)="joinTeam()">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Introduce el ID de equipo</ion-label>
            <ion-input type="text" formControlName="teamID"></ion-input>
          </ion-item>
          <div *ngFor="let err of errorMessages.teamID">
            <ng-container *ngIf="teamID.hasError(err.type) && teamID.touched">
              <small class="errorMessage">{{ err.message }}</small>
            </ng-container>
          </div>

          <ion-item>
            <ion-label>Rol</ion-label>
            <ion-select interface="popover" formControlName="role">
              <ion-select-option *ngFor="let jr of roles;" [value]="jr" >{{ jr }}</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngFor="let err of errorMessages.role">
            <ng-container *ngIf="role.hasError(err.type) && role.touched">
              <small class="errorMessage">{{ err.message }}</small>
            </ng-container>
          </div>

          <ion-button [disabled]="!joinTeamForm.valid" class="endButton" type="submit" expand="block" routerLink="team-list" routerDirection="root">
            Unirse
          </ion-button>
        </ion-list>
      </form>
    </div>
</ion-content>
