<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/team-list">{{ 'ADD-TEAM.cancel' | translate}}</ion-button>
    </ion-buttons>
    <ion-title>{{ 'ADD-TEAM.addTeam' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="(!createTeamForm.valid&&!joinTeamForm.valid)" (click)="onDone()">{{ 'ADD-TEAM.done' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="create" [(ngModel)]="segmentModel">
      <ion-segment-button value="create">
        <ion-label>{{'ADD-TEAM.createTeam' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="join">
        <ion-label>{{'ADD-TEAM.joinTeam' | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="segmentModel === 'create'">
      <form [formGroup]="createTeamForm">
        <ion-list>
          <!--
          <ion-avatar class="avatarIcon" (click)="cameraOptions()">
            <img src="{{ createTeamForm.get('teamPhoto').value }}" onerror="src='../../../assets/icon/avatar.svg'">
          </ion-avatar>
          <ion-item  lines="none" class="ion-text-center">
            <ion-label (click)="cameraOptions()" class="smallText">{{'ADD-TEAM.editImage' | translate}}</ion-label>
          </ion-item>
          -->

          <ion-item>
            <ion-label position="floating">{{'ADD-TEAM.teamName' | translate}}</ion-label>
            <ion-input type="text" formControlName="teamName"></ion-input>
          </ion-item>
          <!--mirar error-->
          <div *ngFor="let err of errorMessages.teamName">
            <ng-container *ngIf="teamName.hasError(err.type) && teamName.touched">
              <small class="errorMessage">{{ err.message }}</small>
            </ng-container>
          </div>
        
          <ion-item>
            <ion-label>{{'CORE.sport' | translate}}</ion-label>
            <ion-select interface="popover" formControlName="sport">
            <ion-select-option *ngFor="let s of sportsLists;" [value]="s">{{ 'CORE.sports.'+s | translate }}</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngFor="let err of errorMessages.sport">
            <ng-container *ngIf="sport.hasError(err.type) && sport.touched">
              <small class="errorMessage">{{ err.message }}</small>
            </ng-container>
          </div>
        </ion-list>
      </form>
    </div>

    <div *ngIf="segmentModel === 'join'">
      <form [formGroup]="joinTeamForm">
        <ion-list>
          <ion-item>
            <ion-label position="floating">{{'ADD-TEAM.enterTeamId' | translate}}</ion-label>
            <ion-input type="text" formControlName="teamId"></ion-input>
          </ion-item>
          <div *ngFor="let err of errorMessages.teamId">
            <ng-container *ngIf="teamId.hasError(err.type) && teamId.touched">
              <small class="errorMessage">{{ err.message }}</small>
            </ng-container>
          </div>

          <ion-item>
            <ion-label>{{'ADD-TEAM.role' | translate}}</ion-label>
            <ion-select interface="popover" formControlName="type">
              <ion-select-option *ngFor="let jr of roles;" [value]="jr" >{{ 'CORE.roles.'+jr | translate }}</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngFor="let err of errorMessages.type">
            <ng-container *ngIf="type.hasError(err.type) && type.touched">
              <small class="errorMessage">{{ err.message }}</small>
            </ng-container>
          </div>
        </ion-list>
      </form>
    </div>
</ion-content>
