/* ------------------------------
              HEADER
   ------------------------------ */

/* ------------------------------
            MAIN CONTENT
   ------------------------------ */

.stopwatch {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

.title {
  font-size: 25px;
}

.largeText {
  font-size: 40px;
}