<ion-grid>
  <ion-row>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/handball/myTeamGoal.png" alt="myTeamGoal">
    </ion-col>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/handball//stoppedGoal.png" alt="stoppedGoal">
    </ion-col>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/handball/opponentGoal.png" alt="opponentGoal">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/handball/lostBall.png" alt="lostBall">
    </ion-col>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/handball/7m.png" alt="7 meters">
    </ion-col>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/handball/2min.png" alt="2 minutes">
    </ion-col>
  </ion-row>
</ion-grid>
