<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      Imatge
    </ion-item>
    <ion-item>
      Nom
    </ion-item>
    <ion-item>
      Email
    </ion-item>
    <ion-item>
      Mes coses (opcio canviarcontrasenya? equips dels que forma part? estadistiques personals?)
    </ion-item>
  </ion-list>
</ion-content>
