<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'PROFILE.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="updateForm" (ngSubmit)="updateProfileUser()">
      <ion-list class="form">
        <ion-avatar class="avatarIcon">
          <img src="{{ myPhoto }}" onerror=" src = '../../../assets/icon/avatar.svg'">
        </ion-avatar>
        <ion-item  lines="none" class="ion-text-center">
          <ion-label (click)="cameraOptions()" class="smallText">{{ 'PROFILE.editImage' | translate }}</ion-label>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">{{ 'PROFILE.name' | translate }}</ion-label>
          <ion-input type="text" formControlName="userName" (click)="onInputClick()"></ion-input>
        </ion-item>
        <div *ngFor="let err of errorMessages.userName">
          <ng-container *ngIf="userName.hasError(err.type) && userName.touched">
            <small class="errorMessage">{{ err.message }}</small>
          </ng-container>
        </div>
        <br>
        <ion-item>
          <ion-label position="floating">{{ 'PROFILE.email' | translate }}</ion-label>
          <ion-input type="email" formControlName="email" (click)="onInputClick()"></ion-input>
        </ion-item>
        <div *ngFor="let err of errorMessages.email">
          <ng-container *ngIf="email.hasError(err.type) && email.touched">
            <small class="errorMessage">{{ err.message }}</small>
          </ng-container>
        </div>
        <br>
        <ion-item lines="none">
          <ion-label class="textPWD" (click)="presentConfirm()">{{ 'PROFILE.changePassword' | translate }}</ion-label>
        </ion-item>
        <br>
        <div >
          <ion-button *ngIf="InputClick" type="submit" expand="block">{{ 'PROFILE.updateProfile' | translate }}</ion-button>
        </div>
        <br>
        <br>
      </ion-list>
    </form>
  </ion-card>
</ion-content>
