<ion-header>
  <ion-menu swipeGesture="false"></ion-menu>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>
        Registro con correo
      </ion-card-title>
    </ion-card-header>

    <form>
      <ion-item lines="none">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" name="name" [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" name="psw" [(ngModel)]="psw"></ion-input>
      </ion-item>

      <div class="footer">
        <ion-button expand="block" routerLink="gettingstarted" routerDirection="root">Registrarme</ion-button>
      </div>
      <p id="toLogin" routerLink="login" routerDirection="root">Ya tengo una cuenta</p>
    </form>
  </ion-card>
</ion-content>
