<ion-header>
  <ion-menu swipeGesture="false"></ion-menu>
</ion-header>

<ion-content class="gradientBG">
  <ion-card>
    <ion-card-header>
      <ion-item lines="none" class="titleRegister">
        <ion-icon slot="start" src="../../../assets/icon/mail.svg"></ion-icon>
        <ion-card-title>Registro con correo</ion-card-title>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-list class="form">
        <ion-item class="avatarIcon" lines="none">
          <ion-avatar (click)="cameraOptions()">
            <img src="{{ myPhoto }}" onerror=" src = '../../../assets/icon/avatar.svg'">
          </ion-avatar>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" name="name" [(ngModel)]="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" name="psw" [(ngModel)]="psw"></ion-input>
        </ion-item>

        <div class="cardFooter">
          <ion-button expand="block" routerLink="gettingstarted" routerDirection="root">Registrarme</ion-button>
          <ion-label class="smallText" routerLink="login" routerDirection="root">Ya tengo una cuenta</ion-label>
        </div>
        
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
