/* ------------------------------
              GENERIC
   ------------------------------ */

/* ------------------------------
              HEADER
   ------------------------------ */

ion-card-title {
    color: white;
    font-size: 20px;
}

/* ------------------------------
            MAIN CONTENT
   ------------------------------ */

.ion-padding {
    background-color: rgba(0,0,0,0.7);
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

ion-item {
    --background: rgba(0,0,0,0.3);
    --color: white;
    padding: 0.2em;
}

ion-label {
    margin: 0em;
}

ion-input {
    --color: white;
}

.footer {
    padding: 1em 0em 0em;
    text-align: center;
}

#toLogin {
    color: white;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    text-decoration-line: underline;
}
