<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-button slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-button>
    <ion-title>{{ 'ADD-FINE.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="addFineForm" (ngSubmit)="onAdd()">
      <ion-list>
        <ion-item class="ion-margin">
          <ion-label>{{ 'ADD-FINE.members' | translate }}</ion-label>
          <ion-select placeholder="{{ 'ADD-FINE.select' | translate }}" formControlName="userId">
            <ion-select-option *ngFor="let m of members" [value]="m.id" >{{m.userId}}</ion-select-option>
          </ion-select>

        </ion-item>
        <ion-item class="ion-margin">
            <ion-label>{{ 'ADD-FINE.date' | translate }}</ion-label>
            <ion-datetime placeholder="{{ 'ADD-FINE.selectDate' | translate }}" formControlName="date"></ion-datetime>
        </ion-item>
        <ion-item class="ion-margin">
          <ion-label position="floating">{{ 'ADD-FINE.concept' | translate }}</ion-label>
          <ion-input formControlName="issue"></ion-input>
        </ion-item>
        <ion-item class="ion-margin">
          <ion-label>{{ 'ADD-FINE.price' | translate }}</ion-label>
          <ion-input required class="ion-text-right" type="number" placeholder="€" formControlName="money"></ion-input>
        </ion-item>
      </ion-list>
  
      <ion-button class="ion-padding" expand="block" color="primary" type="submit">Añadir</ion-button>
    </form>

  
</ion-content>
