<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fotos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let d of data" class="category-block">
    <ion-row no-padding class="category-banner">
      <ion-col text-left button tappable (click)="d.expanded = !d.expanded" align-self-center>
        {{ d.category }}
      </ion-col>
    </ion-row>
 
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let img of d.photos">
        <div *ngIf="d.expanded">
          <ion-card>
            <ion-img [src]="'../assets/match_images/'+img.img+'.jpg'"></ion-img>
          </ion-card>
          <ion-text>Imagen {{img.img}}</ion-text>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
