<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'SETTINGS.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{ 'SETTINGS.changeLanguage' | translate }}</ion-label>
      <ion-select [(ngModel)] = "selected" (ionChange)="select(selected)">
        <ion-select-option *ngFor="let idioma of languages" [value]="idioma.value"> 
          {{idioma.text}} 
        </ion-select-option>
      </ion-select>
    </ion-item>
    <!--
    <ion-item>
      <ion-icon name="help-circle" slot="end"></ion-icon>
      <ion-label>{{ 'SETTINGS.help' | translate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="information-circle" slot="end"></ion-icon>
      <ion-label>{{ 'SETTINGS.about' | translate }}</ion-label>
    </ion-item>
    -->
    <ion-item>
      <ion-col>
        <ion-label>{{ 'SETTINGS.teamID' | translate }}</ion-label>
        <ion-row>
          <ion-label>{{ teamID }}</ion-label>
        </ion-row>
      </ion-col>
      <ion-icon slot="end" name="copy" (click)="copyID()"></ion-icon>
    </ion-item>

  </ion-list>
  
</ion-content>

<div class="bottomButton">
  <ion-button (click)="deleteTeam()" color="danger" expand="block"> {{ 'CORE.actions.deleteTeam' | translate }}</ion-button>
</div>