<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Escoge el  idioma</ion-label>
      <ion-select>
        <ion-select-option>
          Castellano
        </ion-select-option>
        <ion-select-option>
          Inglés
        </ion-select-option>
        <ion-select-option>
          Catalan
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
