<div cards>
  <div class="grid-full">
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../../../../assets/liveMatchIcons/basketball/assists.png">
          <h5>{{stats.assists}}</h5>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../../../../assets/liveMatchIcons/basketball/rebound.png">
          <h5>{{stats.rebounds}}</h5>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../../../../assets/liveMatchIcons/basketball/2points.png">
          <h5>{{stats.twoPointShots}}</h5>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../../../../assets/liveMatchIcons/basketball/3points.png">
          <h5>{{stats.threePointShots}}</h5>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="flex: 0 0 100%; max-width: 100%;">
        <ion-card>
          <img src="../../../../../assets/liveMatchIcons/basketball/1point.png" style="max-width: 25%;">
          <h5>{{stats.pointsScored}}</h5>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</div>