<ion-grid>
  <ion-row>
    <ion-col class="top-left">
      <img src="../../../../../assets/liveMatchIcons/basketball/assists.png">
      <h5>{{stats.assists}}</h5>
    </ion-col>
    <ion-col class="top-right" style="margin-left : -1px;">
      <img src="../../../../../assets/liveMatchIcons/basketball/rebound.png">
      <h5>{{stats.rebounds}}</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="margin-top : -1px;">
      <img src="../../../../../assets/liveMatchIcons/basketball/2points.png">
      <h5>{{stats.twoPointShots}}</h5>
    </ion-col>
    <ion-col style="margin-left : -1px; margin-top: -1px;">
      <img src="../../../../../assets/liveMatchIcons/basketball/3points.png">
      <h5>{{stats.threePointShots}}</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="bottom-left" style="border-top:0px;" >
      <img src="../../../../../assets/liveMatchIcons/basketball/1point.png" style="max-width: 25%;">
      <h5>{{stats.points}}</h5>
    </ion-col>
  </ion-row>
</ion-grid>