/* ------------------------------
              HEADER
   ------------------------------ */

ion-content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}
/* ------------------------------
            MAIN CONTENT
   ------------------------------ */

ion-card{
    background: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 700px;
    padding: 0;
    padding-top: 8%;
    text-align: center;
}

ion-list{
    background: transparent;
    margin: 0em 2em;
}

ion-item {
    --background: rgba(0,0,0, 0);
    border: medium none;
    padding-bottom: 0;
}

ion-label,
p,
ion-item > ion-label,
ion-item > ion-input{
    color: white;
}

/* ------------------------------
              CLASSES
   ------------------------------ */

   .botonAcceder {
    background-color: rgb(52, 62, 141);
    border-radius: 5px;
    color: white;
}

.buttonGoogle{
    background-color: #ffffff;
    border-radius: 5px;
    color: #000000;
}

.buttonGoogle > ion-img{
    margin-right: 1em;

}

ion-label.positionLeft{
    margin-top: 1em;
    margin-bottom: 1em;
}

.formList {
    margin: 0em 2em;
}

.labelRegistro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.positionLeft {
    align-self: left;
    display: flex;
    margin-left: 1em;
}

.smallImg {
    height: 30%;
    margin: auto;
    width: 30%;
}

.smallText{
    color: white;
    font-size: 2vh;
}