<ion-header>
</ion-header>

<ion-content class="background">
  <ion-card class="card scroll-content">
    <ion-card-header>
      <ion-img class="smallImg" src="..\..\..\assets\icon\logotmUp.png"></ion-img>
    </ion-card-header>

    <ion-card-content>
      <ion-list class=".list">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        
        <ion-label class="smallText">Has olvidado la contraseña? Recuperala <a href="#">aquí</a></ion-label>
        <ion-button expand="block" color="ligth" fill="outline">Acceder</ion-button>
        <p>OR</p>
        <ion-button class="buttonGoogle" expand="block">
          <ion-img src="..\..\..\assets\icon-google.png"></ion-img>
          Entrar con Google
        </ion-button>
      </ion-list>
      
      <ion-label class="labelRegistro">Si aun no tienes cuenta, <a href="#">Registrate aquí</a></ion-label>
    </ion-card-content>
  </ion-card>



</ion-content>
