<ion-header>
</ion-header>

<ion-content class="gradientBG">
  <ion-card>
    <ion-card-header>
      <ion-img class="smallImg" src="../../../assets/icon/logotmUp.png"></ion-img>
    </ion-card-header>

    <ng-container *ngIf="logInError">
      <small class="errorMessage">Usuario i/o contraseña incorrecto</small>
    </ng-container>

    <form [formGroup]="logInForm" (ngSubmit)="logIn()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        
        <ion-label class="smallText positionLeft">Has olvidado la contraseña? Recuperala <a href="#"> aquí</a></ion-label>

        <ion-button  expand="block" color="primary" type="submit" [disabled]="!logInForm.valid">Acceder</ion-button>
        
        <p>OR</p>

        <ion-button class="buttonGoogle" expand="block" color="white">
          <ion-img src="../../../assets/icon-google.png"></ion-img>
          Entrar con Google
        </ion-button>
      </ion-list>
      
      <p class="labelRegistro smallText">Si aun no tienes cuenta, <a href="register">Registrate aquí</a></p>
    </form>
  </ion-card>



</ion-content>
