<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ event.type }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="rivalInfo">
      <ion-label *ngIf="event.type === 'match'">Rival: {{ event.title }}</ion-label>
    </div>
    <div>
      <ion-label>{{ event.startTime | date: 'dd MMM yyyy'}}</ion-label>
    </div>
    <div class="smallText">
      <ion-label>{{ event.startTime | date: 'HH:mm' }} - {{ event.endTime | date: 'HH:mm' }}</ion-label>
    </div>
  </div>
  <div id="map"></div>
</ion-content>
