/* ------------------------------
              GENERIC
   ------------------------------ */

/* ------------------------------
              HEADER
   ------------------------------ */

/* ------------------------------
            MAIN CONTENT
   ------------------------------ */

.rivalInfo {
  font-size: large;
}

.subTime {
  margin: 0px !important;
}

#map {
  border-radius: 1em;
  height: 40%;
  margin: 0 auto;
  width: 90%;
}

.directionsButton {
  margin: 1em auto;
  width: 90%;
}