<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [icon]="null">{{ 'CORE.actions.cancel' | translate }}</ion-back-button>
    </ion-buttons>
    <ion-title>{{ event?.title }}</ion-title>
    <!--Mirar si el usuari es cos tecnic amb *ngIf-->
    <ion-buttons *ngIf="(segmentModel !== 'analisi' && segmentModel !== 'fotos') && !isPlayer" slot="end">
      <ion-button (click)="editEvent()">{{ 'CORE.actions.edit' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="info" [(ngModel)]="segmentModel" >
      <ion-segment-button value="info" (click)="onInfoSegment()">
        <ion-label> {{ 'EVENT.info' | translate }} </ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="event?.type === 'match'" value="players" (click)="onCallSegment()">
        <ion-label>{{ 'EVENT.convocados' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="event?.type === 'match'" value="analisi">
        <ion-label>{{ 'EVENT.analisi' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="fotos">
        <ion-label>{{ 'EVENT.fotos' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Event information-->

  <div *ngIf="segmentModel === 'info'">
    <div class="ion-padding">
      <ion-item *ngIf="event?.type === 'match'" class="rivalInfo">
        <ion-label>Rival: {{ event?.rival }}</ion-label>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label>{{ event?.startTime | date: 'EEEE, dd MMM yyyy' }}</ion-label> 
      </ion-item>

      <ion-item class="subTime">
        <ion-label class="smallText"> {{ 'CORE.verbs.from' | translate }} {{ event?.startTime | date: 'HH:mm' }} {{ 'CORE.verbs.to' | translate }} {{ event?.endTime | date: 'HH:mm' }}</ion-label>
      </ion-item>

      <ion-item *ngIf="event?.type === 'training'" >
        <ion-textarea rows="3" [disabled]="true">{{ event?.description }}</ion-textarea>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label>{{ event?.location?.name }}</ion-label>
      </ion-item>
    </div>

    <ion-button *ngIf="this.event?.location?.name!=''" class="directionsButton" (click)="GoogleDirections()" color="primary" expand="block">{{ 'EVENT.howToGet' | translate }}</ion-button>
    <div *ngIf="this.event?.location?.name!=''" #map id="map"></div>
  </div>


  <!--Called Players-->

  <div *ngIf="segmentModel === 'players'">

    <ion-text class="title">Lista Convocados</ion-text>
    <div class="ion-padding">
      <div *ngIf="ListConv != null">
        <ion-list>
          <ion-item *ngFor="let conv of ListConv">
            <ion-label> {{ conv.name }} </ion-label>
          </ion-item>
        </ion-list>
      </div>


      <div *ngIf="ListConv.length == 0">
        <div class="centerText">
          <p>{{ 'EVENT.message_no_convocados' | translate }}</p>
        </div>
        <!--Mirar si el usuari és cos tecnic amb *ngIf-->
        <div *ngIf="!isPlayer" class="centerButton">
          <ion-button (click)="editEvent()">{{ 'EVENT.new_list' | translate }}</ion-button>
        </div>
      </div>
    </div>

  </div> 


  <!--Rival Inform-->

  <div *ngIf="segmentModel === 'analisi'">

    <div *ngIf="hasInform">
      <ion-item lines="none">
        <ion-img src="../../../assets/icon/img.png" slot="start" *ngIf="f?.name?.endsWith('jpg') || f?.name?.endsWith('jpeg') || f?.name?.endsWith('png')"></ion-img>
          <ion-img src="../../../assets/icon/doc.png" slot="start" *ngIf="f?.name?.endsWith('.txt') ||  f?.name?.endsWith('.doc') ||  f?.name?.endsWith('.docx')"></ion-img>
          <ion-img src="../../../assets/icon/pdf.png" slot="start" *ngIf="f?.name?.endsWith('.pdf')"></ion-img>
        <ion-label>{{ f?.name }}</ion-label>
      </ion-item>

      <ion-fab *ngIf="!isPlayer" class="buttons" vertical="bottom" slot="fixed" color="primary">
        <ion-button (click)="updateFile()">{{ 'CORE.actions.edit' | translate }}</ion-button>
        <ion-button (click)="deleteFile()" class="separation">{{ 'CORE.actions.delete' | translate }}</ion-button>
      </ion-fab>
    </div>
    <div *ngIf="!hasInform">
      <div class="centerText">
        <p> {{ 'EVENT.no_inform' | translate }}</p>
      </div>
      <!--Mirar si el usuari és cos tecnic amb *ngIf-->
      <div *ngIf="!isPlayer" class="centerButton">
        <ion-button (click)="uploadFile()"> {{ 'EVENT.uploadfile' | translate }} </ion-button>
      </div>
    </div>

  </div> 


  <!--Event Photos-->

  <div *ngIf="segmentModel === 'fotos'">

    <ion-list padding>
      <ion-item-sliding *ngFor="let f of files">
        <ion-item (click)="openFile(f)">
          <ion-img src="../../../assets/icon/img.png" slot="start" *ngIf="f.name.endsWith('jpg') || f.name.endsWith('jpeg') || f.name.endsWith('png')"></ion-img>
          <ion-label class="ion-text-wrap">
            {{ f.name }}
          </ion-label>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option (click)="deleteFile(f)" color="danger">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list> 
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary">
      <ion-fab-button (click)="addEventImage()">
    <ion-fab *ngIf="!isPlayer" vertical="bottom" horizontal="end" slot="fixed" color="primary">
      <ion-fab-button (click)="goToaddTactic(img)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div> 

</ion-content>
