<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [icon]="null">{{ 'CORE.actions.cancel' | translate }}</ion-back-button>
    </ion-buttons>
    <ion-title>{{ event?.title }}</ion-title>
    <!--Mirar si el usuari es cos tecnic amb *ngIf-->
    <ion-buttons *ngIf="ListConv != null" slot="end">
      <ion-button (click)="editEvent()">{{ 'CORE.actions.edit' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="info" [(ngModel)]="segmentModel">
      <ion-segment-button value="info">
        <ion-label> {{ 'EVENT.info' | translate }} </ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="event?.type === 'match'" value="players">
        <ion-label>{{ 'EVENT.convocados' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="event?.type === 'match'" value="analisi">
        <ion-label>{{ 'EVENT.analisi' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="fotos">
        <ion-label>{{ 'EVENT.fotos' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="segmentModel === 'info'">
    <div class="ion-padding">
      <ion-item *ngIf="event?.type === 'match'" class="rivalInfo">
        <ion-label>Rival: {{ event?.rival }}</ion-label>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label>{{ event?.startTime | date: 'EEEE, dd MMM yyyy' }}</ion-label> 
      </ion-item>

      <ion-item class="subTime">
        <ion-label class="smallText"> {{ 'CORE.verbs.from' | translate }} {{ event?.startTime | date: 'HH:mm' }} {{ 'CORE.verbs.to' | translate }} {{ event?.endTime | date: 'HH:mm' }}</ion-label>
      </ion-item>

      <ion-item *ngIf="event?.type === 'training'" >
        <ion-textarea rows="3" [disabled]="true">{{ event?.description }}</ion-textarea>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label>{{ event?.location?.name }}</ion-label>
      </ion-item>
    </div>

    <div id="map"></div>
    <ion-button class="directionsButton" (click)="GoogleDirections()" color="primary" expand="block">{{ 'EVENT.howToGet' | translate }}</ion-button>
  </div>

  <div *ngIf="segmentModel === 'players'">
    <div class="ion-padding">
      <div *ngIf="ListConv1.length != 0">
        <ion-list>
          <ion-item *ngFor="let conv of ListConv1">
            <ion-label> {{ conv }} </ion-label>
          </ion-item>
        </ion-list>
      </div>


      <div *ngIf="ListConv1.length == 0">
        <div class="centerText">
          <p>{{ 'EVENT.message_no_convocados' | translate }}</p>
        </div>
        <!--Mirar si el usuari és cos tecnic amb *ngIf-->
        <div class="centerButton">
          <ion-button (click)="editEvent()">{{ 'EVENT.new_list' | translate }}</ion-button>
        </div>
      </div>
    </div>
  </div> 

  <div *ngIf="segmentModel === 'analisi'">
    
  </div> 

  <div *ngIf="segmentModel === 'fotos'">
    
  </div> 
</ion-content>
