<ion-grid>
  <ion-row>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/football/localGoal.png">
    </ion-col>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/football/stoppedGoal.png">
    </ion-col>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/football/visitorGoal.png">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/football/yellowCard.png">
    </ion-col>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/football/redCard.png">
    </ion-col>
    <ion-col>
      <img src="../../../../../assets/liveMatchIcons/football/change.png">
    </ion-col>
  </ion-row>
</ion-grid>