<ion-grid>
  <ion-row>
    <ion-col class="top-left">
      <img src="../../../../../assets/liveMatchIcons/football/change.png">
      <h5>{{stats.minPlayed}}</h5>
    </ion-col>
    <ion-col class="top-right" style="margin-left : -1px;">
      <img src="../../../../../assets/liveMatchIcons/football/stoppedGoal.png">
      <h5>{{stats.assists}}</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="margin-top : -1px;">
      <img src="../../../../../assets/liveMatchIcons/football/yellowCard.png">
      <h5>{{stats.yellowCards}}</h5>
    </ion-col>
    <ion-col style="margin-left : -1px; margin-top: -1px;">
      <img src="../../../../../assets/liveMatchIcons/football/redCard.png">
      <h5>{{stats.redCards}}</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="bottom-left" style="border-top:0px;" >
      <img src="../../../../../assets/liveMatchIcons/football/myTeamGoal.png" style="max-width: 25%;">
      <h5>{{stats.goals}}</h5>
    </ion-col>
  </ion-row>
</ion-grid>