<div cards>
  <div class="grid-full">
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../../../../assets/liveMatchIcons/football/change.png">
          <h5>{{stats.minPlayed}}</h5>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../../../../assets/liveMatchIcons/football/stoppedGoal.png">
          <h5>{{stats.assists}}</h5>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../../../../assets/liveMatchIcons/football/yellowCard.png">
          <h5>{{stats.yellowCards}}</h5>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../../../../assets/liveMatchIcons/football/redCard.png">
          <h5>{{stats.redCards}}</h5>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="flex: 0 0 100%; max-width: 100%;">
        <ion-card>
          <img src="../../../../../assets/liveMatchIcons/football/myTeamGoal.png" style="max-width: 25%;">
          <h5>{{stats.goalsScored}}</h5>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</div>