/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//styling calendar
.monthview-primary-with-event, .monthview-secondary-with-event {
  background-color: transparent !important;
  color: black !important;
  padding: 0 !important;
}

.table {
  font-size: 13px;
}

.monthview-datetable {
  border: 0 !important;
  
  td, th {
    border: 0 !important;
    height: 2em !important;
  }
}

.monthview-selected {
  background-color: var(--ion-color-primary-tint) !important;
  border-radius: 0.5em !important;
  color: white !important;
}

.monthview-current {
  border-radius: 0.5em !important;
}

//to get the circle
.monthview-datetable td {
  padding: 0.3em 0 !important;
}

.dayBox, .noEvent {
  position: relative;
}

.noEvent {
  margin: 40% auto 0 auto;
}

.noEvent:before {
  content:"";
  display: block;
}

.dayBoxContent {  
  bottom:0;
  left:0;
  position: absolute;
  right:0;
  top:0;
}

span {
  margin-top: 0;
}


//----------------- MODAL -------------------
.my-custom-modal-css .modal-wrapper {
  width: 90%;
  height: 65%;
  top: 35%;
  position: absolute; 
  display: block; 
  border-radius: 10px 10px 0px 0px; 
  padding: 1rem;
  app-modal{
    justify-content: normal;
    padding: 1rem;
    align-items: center;
    div{
      text-align: center;
    }
  }
}