ion-title{
    text-align: center;
}

ion-content {
    width: 100% auto !important;
    margin: 0 auto;
}

ion-card {
    box-shadow: none;
    //background-color:  var(--ion-color-primary);
}

ion-card-header {
    font-size: 20px;
    color: white;
    text-align: center;
}

ion-card-content{
    text-align: center;
}

p {
    text-align: center;
}

mark{
    background-color: rgba(var(--ion-color-primary-rgb), 0.70);
}

.toolbar {
    text-align: center;
    font-size: 25px;
}

.no_noticias {
    background-color: rgba(var(--ion-color-primary-rgb), 0.20);
}


.calendar {
    background-image: url('~/../../assets/main_images/calendar-banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chat {
    background-image: url('~/../../assets/main_images/chat-online.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tacticas {
    background-image: url('~/../../assets/main_images/tacticas-banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.estadisticas {
    background-image: url('~/../../assets/main_images/triangle.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.noticias {
}