<ion-header [translucent]="true">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="welcome">
    <ion-card class="no_noticias">
      <ion-card-header>
        <ion-card-title><b>¡Bienvenido!</b></ion-card-title>
        <p>Disfruta de nuestra aplicación para gestionar tu equipo.</p> 
        <br><br>
        <ion-card-title><b><i>Todavía no tienes eventos</i></b></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <b>¡¡Echa un vistazo de todo lo que puedes hacer con nuestra aplicación!!</b>
      </ion-card-content>
    </ion-card>
    <br><br>
    <ion-card class ="calendar" routerLink="../calendar">
      <ion-card-header >
      </ion-card-header>
      <ion-card-content>
        <br><br><br><br>
      </ion-card-content>
    </ion-card>
    <div>
      <p><b>Añade y consulta eventos en tu calendario</b></p>
      <p><i>Crea un calendario con los partidos y entrenamientos de la temporada.</i></p>
      <br>
   </div>
    <ion-card class="chat" routerLink="../chat">
      <ion-card-header >
      </ion-card-header>
      <ion-card-content>
        <br><br><br><br>
      </ion-card-content>
    </ion-card>
    <div>
      <p><b>Chat con tu equipo</b></p>
      <p><i>Chatea con tu entrenador y compañeros de equipo para una mejor comunicación.</i></p>
      <br>
    </div>
    <ion-card class="tacticas" routerLink="../tactics">
      <ion-card-header >
      </ion-card-header>
      <ion-card-content>
        <br><br><br><br>
      </ion-card-content>
    </ion-card>
    <div>
      <p><b>Tácticas equipo</b></p>
      <p><i>Estáte informado de las tácticas de tu equipo.</i></p>
      <br>
    </div>
    <ion-card class="estadisticas" routerLink=""> <!--Link a estadístiques-->
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
        <br><br><br><br>
      </ion-card-content>
    </ion-card>
    <div>
      <p><b>Estadísticas de tu equipo y personales</b></p>
      <p><i>Consulta las estadísticas de tu equipo y personales.</i></p>
      <br>
    </div>
    <ion-card class="no_noticias">
      <br><br><br>
      <ion-card-header>
        <ion-card-title><b>Entre muchas otras cosas...</b></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <b>¡DESCÚBERLO TÚ MISMO!</b>
      </ion-card-content>
      <br><br><br>
    </ion-card>
    <br>
    <ion-card>
      <ion-card-content>
        <b>2020,TMUP</b>
        <br>
        ESPAÑOL ENGLISH CATALÀ
        <br>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!welcome">
    <ion-title style="padding-top: 5%; font-size: 30px">
      <b><mark>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Canal de noticias&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mark></b>
    </ion-title>
    <ion-grid>
    <ion-card class="noticias" button *ngFor="let noticia of NoticiesArray">

        <!--TIPO NORMATIVA-->
        <ion-row style="width:20">
        <ion-card *ngIf="noticia.name==='normativa'">
          <ion-card-header>
            Se ha modificado la normativa de tu club
          </ion-card-header>
          <ion-card-content>
            <br><br><br><br>
          </ion-card-content>
        </ion-card>
        </ion-row>

        <!--TIPO TACTICAS-->
        <ion-row>
        <ion-card class="noticias" *ngIf="noticia.name==='tacticas'">
          <ion-card-header>
            Se han añadido tacticas nuevas de tu equipo
          </ion-card-header>
          <ion-card-content>
            <br><br><br><br>
          </ion-card-content>
        </ion-card>
      </ion-row>

        <!--TIPO ENTRENAMIENTO-->
        <ion-row>
        <ion-card class="noticias" *ngIf="noticia.name==='entreno'">
          <ion-card-header>
            Nuevo entreno dia {{noticia.date}} 
          </ion-card-header>
          <ion-card-content>
            <br><br><br><br>
          </ion-card-content>
        </ion-card>
      </ion-row>

        <!--TIPO PARTIDO-->
      <ion-row>
        <ion-card class="noticias" *ngIf="noticia.name==='partido'">
          <ion-card-header>
            Nuevo partido dia {{noticia.date}} 
          </ion-card-header>
          <ion-card-content>
            <br><br><br><br>
          </ion-card-content>
        </ion-card>
      </ion-row>

        <!--TIPO PARTIDO FINALIZADO-->
      <ion-row>
        <ion-card class="noticias" *ngIf="noticia.name==='partido finalizado'">
          <ion-card-header>
            Consulta los resultados del partido del dia {{noticia.date}}
          </ion-card-header>
          <ion-card-content>
            <br><br><br><br>
          </ion-card-content>
        </ion-card>
      </ion-row>

    </ion-card>
  </ion-grid>
  </div>
</ion-content>
