<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'MAIN.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="welcome">
    <ion-card class="no_noticias">
      <ion-card-header>
        <ion-card-title>{{ 'MAIN.welcome' | translate }}</ion-card-title>
        <p>{{ 'MAIN.info1' | translate }}</p> 
        <ion-card-title>
          {{ 'MAIN.info2' | translate }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="boldText">{{ 'MAIN.info3' | translate }}</p>
      </ion-card-content>
    </ion-card>

    <div *ngFor="let msg of WelcomeMsgs;">
      <ion-card [routerLink]="[msg.url]" routerDirection="root">
        <ion-card-header>
          <img src="../../../assets/main_images/{{msg.image}}" alt="imagen">
        </ion-card-header>
        <ion-card-content>
          <p class="boldText">{{ msg.title }}</p>
          <p class="italicText"> {{ msg.description }}</p>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-card class="no_noticias">
      <ion-card-header>
        <ion-card-title>{{ 'MAIN.info4' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="boldText">{{ 'MAIN.info5' | translate }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <p class="boldText">2020,TMUP</p>
        ESPAÑOL ENGLISH CATALÀ
      </ion-card-content>
    </ion-card>
  </div>



<!------------------------------ Si que hi ha noticies -------------------------------------->
  


  <div *ngIf="!welcome">

    <!--Recordatorios-->
    <ion-card class="no_noticias">
      <ion-card-header class="PaddingItemHeader">
        <ion-card-title class="Titles">{{ 'MAIN.title_reminders' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="spaceBetween" *ngFor="let rmd of Reminders;">
        <p class="RemindersText">{{ rmd.title }}</p>
        <div *ngIf="rmd.day==null">
          <p class="LeftText">{{ 'MAIN.no_reminders' | translate }}</p>
        </div>
        <div *ngIf="rmd.day!=null">
          <ion-list class="PaddingItem">
            <ion-item lines="none" class="PaddingItem">
              <p class="LeftText">
                <ion-text class="boldTextLeft"> {{ 'MAIN.day' | translate }}</ion-text>
                <ion-text class="DescriptionText"> {{ rmd.day | date: 'dd/MM'}}</ion-text>
              </p>
              <p class="LeftText">
                <ion-text class="boldTextLeft"> {{ 'MAIN.hour' | translate }}</ion-text>
                <ion-text class="DescriptionText"> {{ rmd.hour | date: 'HH:mm'}}h</ion-text>
              </p>
              <ion-button class="PaddingButton" (click)="onEventSelected(rmd.id)">
                <ion-icon name="open-outline" class="iconBigger"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </div>
      </ion-card-content>
    </ion-card>

    <!--Noticias-->
    <ion-card class="no_noticias">
      <ion-card-header class="PaddingItemHeader">
        <ion-card-title class="Titles">{{ 'MAIN.title_news' | translate }}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <div *ngFor="let new of News;">
      <ion-card class="cardNews" [routerLink]="[new.url]" routerDirection="root">
        <ion-card-header class="newsHeader">
          <ion-icon name="{{ new.icon }}"></ion-icon>
          <ion-text> {{ new.type }}</ion-text>
          <ion-text> {{ new.date | date: 'dd/MM' }} {{ new.date | date: 'HH:mm' }}</ion-text>
        </ion-card-header>
        <ion-card-content class="contentNews">
          <p class="boldTextLeft">{{ new.title }}</p>
          <p class="infoNew"> {{ new.information }}</p>
        </ion-card-content>
      </ion-card>
    </div>
    
  </div>

</ion-content>
