/* ------------------------------
              GENERIC
   ------------------------------ */

/* ------------------------------
              HEADER
   ------------------------------ */

/* ------------------------------
            MAIN CONTENT
   ------------------------------ */

.bottomButton {
   margin: 0 auto;
   width: 90%;
}

.centerText {
   padding-top: 70px;
   padding-left: 15px;
   padding-right: 15px;
   display: flex;
   height: 100%;
   justify-content: center;
   text-align: center;
 }