<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="saveDisabled" (click)="onDone()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()"></ion-searchbar>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let place of places" (click)="selectPlace(place)">{{place.description}}</ion-item>
  </ion-list>

</ion-header>

<ion-content>
  <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>

  <div #map id="map">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>
