<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="calendar" routerDirection="root">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Nuevo evento</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!createMatchForm.valid" (click)="onAdd()">Añadir</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="match" [(ngModel)]="segmentModel">
      <ion-segment-button value="match">
        <ion-label>Partido</ion-label>
      </ion-segment-button>
      <ion-segment-button value="training">
        <ion-label>Entrenamiento</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="segmentModel === 'match'">
    <form [formGroup]="createMatchForm">
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Equipo rival" formControlName="rival"></ion-input>
        </ion-item>

        <ion-item (click)="launchLocationPage()" formGroupName="location">
          <ion-input type="search" placeholder="Localización" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Empieza</ion-label>
          <ion-datetime displayFormat="D MMM H:mm"formControlName="startsTime" minuteValues="0,15,30,45,50,55"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Acaba</ion-label>
          <ion-datetime displayFormat="H:mm" formControlName="endTime" minuteValues="0,15,30,45,50,55"></ion-datetime>
        </ion-item>
      </ion-list>
    </form>
  </div>

  <div *ngIf="segmentModel === 'training'">
    <form [formGroup]="createTrainingForm">
      <ion-list>
        <ion-item (click)="launchLocationPage()" formGroupName="location">
          <ion-input type="search" placeholder="Localización" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Empieza</ion-label>
          <ion-datetime displayFormat="D MMM H:mm"formControlName="startTime" minuteValues="0,15,30,45,50,55"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Acaba</ion-label>
          <ion-datetime displayFormat="H:mm" formControlName="endTime" minuteValues="0,15,30,45,50,55"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-textarea rows="6" placeholder="Añade los ejercicios aquí..." formControlName="description"></ion-textarea>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
